;; shadow-cljs configuration
{:source-paths  ["src/main"
                 "src/test"]

 :dependencies [[re-frame             "1.4.0"]
                ;; Promise
                [funcool/promesa      "11.0.678"]
                ;; i18n
                [com.taoensso/tempura "1.5.3"]]

 :builds  {:extension {:target           :esm
                       :output-dir       "build/js"
                       :runtime          :custom
                       :dev              {:closure-defines {rotki-extension.common.config/env "development"}}
                       :release          {:closure-defines {rotki-extension.common.config/env "production"}}
                       :compiler-options {:infer-externs :auto}
                       :modules          {:shared {:entries []}
                                          :sw     {:init-fn    rotki-extension.sw.core/init
                                                   :depends-on #{:shared}
                                                   :web-worker true}
                                          :popup  {:init-fn    rotki-extension.popup.core/init
                                                   :depends-on #{:shared}}}}
           :test      {:target           :node-test
                       :output-to        "build-test/test.js"
                       :closure-defines  {rotki-extension.common.config/env "test"}
                       :compiler-options {:infer-externs :auto}
                       :ns-regexp        "-test$"
                       :autorun          true}}}